/*--------------------------- General ------------------------------------*/
body {
	font-family:'Montserrat',sans-serif;
	font-size:16px;
	line-height:1.7;
	color:#777;
	font-weight:400;
	overflow-x:hidden;
}
.playball {
	font-family:'Playball',cursive;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 0 0 15px;
}
a,a:hover {
	color:#cc580c;
	text-decoration: none;
}
img {max-width: 100%;}
.bg-circles {
	background-image: url(../img/pattern.png);
    background-repeat: repeat;
    -webkit-background-size: auto;
    background-size: auto;
    background-attachment: fixed;
    position: relative;
}
/*--------------------------- Menu ------------------------------------*/
.navbar {
	border-bottom: 3px solid #ff8500;
	margin-bottom: 0;
}
.navbar-header {
	font-family: 'Cookie', cursive;
}
.navbar-default .navbar-brand {
    color: #ff8500;
}
.navbar-brand {
	font-size: 40px;	
}
.nav>li>a {
	display: inline-block;
}
.navbar-nav>li {
	float: none;
	display: inline-block;
}
.navbar-nav {
	margin: 0 auto;
	text-align: center;
	float: none;
}
.isFixed {
	left:0px;
	width:100%;
}
.menu {
	 margin-top:0px;
	 position:absolute;
	 z-index:999;
	 margin-top:20px;
	 left:0px;
	 right:0px;
	 bottom:0;
}
.menu .container-fluid {
	padding-right: 60px;
    padding-left: 60px;
}
.navArea {
	float:right;
}
.navwrapper .container {
	padding:0;
	width:auto;
}
.navbar-toggle {
	margin-top: 14px;
}
 /*Special class on .container surrounding .navbar,used for positioning it into place. */
.navbar-wrapper {
	margin-top:0px;
	height:80px;
	position:relative;
	z-index:15;
}
.navbar-wrapper .container {
	padding:0px;
}
.navbar-collapse {
	padding:0;
}
.navbar-collapse.in {
	max-height:100%;
}
.navbar.navbar-inverse.navbar-static-top {
	margin:0px auto;
	background:none;
	color:#c3c8d6;
	border:none;
	font-family:'Open Sans',sans-serif;
	font-size:14px;
	font-weight:600;
	text-transform:uppercase;
}
.navbar.navbar-inverse.navbar-static-top a {
	color:#fff;
	padding:31px 16px;
	line-height:18px;
	text-align:center;
}
.navbar.navbar-inverse.navbar-static-top a:hover {
	background:none;
	color:#fff;
}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.active>a:focus {
	background:none;
	color:#fff !important;
}
.navbar-inverse .navbar-nav>.active>a:hover {
	color:#fff;
}
.hideClass {
	display:none;
}
.isFixed .navbar-inverse .navbar-nav>.active>a,.isFixed .navbar-inverse .navbar-nav>.active>a:focus {
	background:#cc580c;
	color:#fff;
}
.isFixed .navbar.navbar-inverse.navbar-static-top a:hover {
	background:#cc580c;
	color:#fff;
}
.isFixed .navbar.navbar-inverse.navbar-static-top a {
	color:#fff;
}
.stuckMenu {
	-o-transition:all .5s;
	-ms-transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	transition:all .5s;
	background:#111;
}
.isFixed {
	background:#333;
	-o-transition:all .5s;
	-ms-transition:all .5s;
	-moz-transition:all .5s;
	-webkit-transition:all .5s;
	transition: all .5s;
}
.collapse {
	display: block !important;
}
@media (max-width: 655px) {
	.collapse {background: #333;}
	.navbar.navbar-inverse.navbar-static-top a {padding: 15px 16px;line-height: 15px;font-size: 13px;}
}
/*--------------------------- Intro ------------------------------------*/
header {
	padding-bottom: 53px;
}
.intro {
	font-family: 'Great Vibes',cursive;
	font-size: 45px;
	line-height: 1.0;
	font-weight: 900;
	color: #fff;
}
.intro .texts2 {
	font-size: 30px;
}
/*--------------------------- Parallax ------------------------------------*/
.parallax {
	/*text-align: center;*/
	background-position: bottom;
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed !important;
	overflow: hidden;
	background-image: url(../img/9.jpg);
}
.parallax-pattern-overlay {
	/*background-image:url(../img/pattern.png);*/
	/*background-repeat: repeat;*/
	background: rgba(0,0,0,0.35);
}
.parallax .texts{
    padding-top: 115px;
    margin-right: 10px;
}
.parallax .clock{
    margin: 45px 0;
}
/*--------------------------- Heading ------------------------------------*/
.heading {
	padding-bottom:15px;
	text-align:center;
	max-width:960px;
	margin:0px auto;
	padding-top:80px;
}
.heading h2 {
	font-weight:700;
	font-family:'Great Vibes',cursive;
	font-size:35px;
	color:#333;
	margin:0;
	padding:5px;
}
.heading h2::first-letter {
	color:#cc580c;
}
.heading h3 {
	font-size:16px;
	line-height:1.7;
}
img#monogram {
	max-width: 320px;
}
.zigzag-inside:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-image: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%228px%22%20height%3D%224px%22%3E%3Cpolygon%20points%3D%220%2C4%204%2C0%208%2C4%22%20fill%3D%22%23FFFFFF%22%2F%3E%3C%2Fsvg%3E");
}

.wave::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image:
    radial-gradient(circle at 10px -5px, transparent 12px, white 13px);
}
.wave::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image:
    radial-gradient(circle at 10px 15px, white 12px, transparent 13px);
}
/*--------------------------- Contact ------------------------------------*/
input.contact {
	background:#fff;
	border:solid 1px #ddd;
	color:#000;
	padding:15px 30px;
	
	margin-right:3%;
	margin-bottom:30px;
	outline:none;
}
input.contact.noMarr {
	margin-right:0px;
}
textarea.contact {
	background:#fff;
	color:#000;
	border:solid 1px #ddd;
	padding:15px 30px;
	
	margin-bottom:40px;
	outline:none;
	height:150px;
}
.contact.submit {
	background:#333;
	font-family:'Montserrat',sans-serif;
	color:#fff;
	font-size:16px;
	font-weight:400;
	text-align:center;
		margin:0px;
	border:none !important;
	border-radius:3px;
}
.contact.submit:hover {
	background:#cc580c;
}
.done {
	display:none;
}
.error input,input.error,.error textarea,textarea.error {
	background-color:#ffffff;
	border:1px solid red !Important;
	-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
	-moz-transition:border linear 0.2s,box-shadow linear 0.2s;
	-o-transition:border linear 0.2s,box-shadow linear 0.2s;
	transition:border linear 0.2s,box-shadow linear 0.2s;
}
@media screen and (min-width:768px) {
	input.contact.col-md-6 {
		width: 48.5%;
	}
}
/*--------------------------- Footer Style ------------------------------------*/
.footer {
	background:#cc580c;
	margin-top:120px;
	position:relative;
}
.footer .container {
	padding:45px 0 20px;
	color:#fff;
	font-size:35px;
	line-height:30px;
	font-weight:300;
	text-align:center;
	font-family: 'Great Vibes',cursive;
}
.gototop {
	display:inline-block;
	width:60px;
	height:60px;
	background:#fff;
	position:absolute;
	margin-left:-30px;
	top:-35px;
	border-radius:50%;
}
.gototop i {
	color:#cc580c;
	line-height:70px;
}
.footer a,.footer a:hover {
	color:#fff;
}
blockquote {
	font-style:italic;
	margin:0 0 0px 0;
	padding:20px 70px 10px;
	position:relative;
	font-size:13px;
	border:0;
}
blockquote:before {
	display:block;
	content:"\201C";
	font-size:120px;
	position:absolute;
	left:10px;
	top:-30px;
	color:#cc580c;
	font-family:Georgia;
}
blockquote cite {
	color:#cc580c;
	font-size:14px;
	display:block;
	margin-top:5px;
	text-align:right;
}
blockquote cite:before {
	content: "\2014 \2009";
}


/*--------------------------- Title Style ------------------------------------*/
.title {
    padding: 40px 26%;
    position: relative; 
    text-align: center;
    z-index: 2;
}
.title img {
	margin: auto;
}

.title h2 {
    margin-top: 15px;
    margin-bottom: 0;
    color: #333333;
    font-family: 'Great Vibes', cursive;
    font-size: 2.000em;
}

.title h2:after {
    background-color: #cc580c;
    content: "";
    height: 2px;
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 15px;
}

/*--------------------------- Nossa História ------------------------------------*/
.our-story {
    margin-bottom: 30px;
    margin-top: 0;
}
.ih-item.circle.effect17 .info h4 {
  color: #fff;
  position: relative;
  letter-spacing: 2px;
  margin: 0 30px;
  padding: 55px 0 0 0;
  height: 110px;
  text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}

/*--------------------------- Cerimônia ------------------------------------*/
#ceremony h4 {
	color: #333;
}
#ceremony .panel-body {
	padding: 5px;
}

/*--------------------------- Galeria ------------------------------------*/
#gallery .container-fluid {
    margin: 20px 0;
}
#gallery .grid-item-content img {
    border-radius: 10px;
}
#gallery .grid-item-content:hover {
    border-radius: 10px;
    border-color: rgba(150,150,150,1);
  	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);
  	cursor: pointer;
}
#gallery .grid-item-content {
	background: #cc580c;
    border-radius: 10px;
}
#gallery .grid-item-content img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#gallery .grid-item-content:hover img {
	opacity: .5;
}
/* fluid 5 columns */
/*.grid-sizer,*/
/*.grid-item { width: 20%; }*/
/* 2 columns */
/*.grid-item--width2 { width: 40%; }*/
